@import "_variables/_globalColors.scss";
@import "_variables/_breakpoints.scss";

body {
    background-color: $grytTeal;
    color: $grytPink;

    a {
        text-decoration: none;
        color: $grytBlue;
        padding: 0rem 0.5rem 0.1rem 0.5rem;
    }

    a:hover {
        color: $grytTeal;
        border-bottom: 2px solid $grytBlue;
    }

}

body[data-theme="contrast"] {
    background-color: $white;
    color: $grytPurple;
    font-size: 1.5rem;

    a:hover {
        background-color: $grytBlue;
        color: $white;
        border-radius: 1rem;
    }
}

@import "_navigation/_themeToggle.scss";
@import "_navigation/_navLinks.scss";
@import "_home/_homePage.scss";
@import "_news/_newsList.scss";