@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="homePageBanner">
    <strong>This is the home page banner!</strong>
    <p>@Model.Value("description")</p>
    <img src="/media/bfkb40hi/lots-of-barrels.jpg" alt="@Model.Value("title")" class="img-fluid" />
</div>